body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: #d9f6e5;
  background: url(../slike/image.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}

@font-face {
  font-family: MojFont;
  src: url("../font/fabada/Fabada-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "MojFont", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #ffffff;
}

header {

}
header .header-wrap {
  background-image: linear-gradient(lightgreen, yellowgreen, black);
  top: 0;
  width: 100%;
  z-index: 2;
}
header .header-wrap .container {
  display: flex;
  justify-content: space-around;
}
header .header-wrap .container .image-wrap img {
  width: 120px;
}
header .header-wrap .container .navigacija {
  display: flex;
  align-items: center;
}
header .header-wrap .container .navigacija ul {
  display: flex;
}
header .header-wrap .container .navigacija ul li {
  border-bottom: 5px solid;
  font-size: 25px;
  margin: 0 15px;
  text-decoration: none;
  color: greenyellow;
  list-style-type: none;
}
header .header-wrap .container .navigacija ul li a {
  text-decoration: none;
  transition: 0.5s all;
}
header .header-wrap .container .navigacija ul li a:hover {
  color: crimson;
}
header .header-info h1 {
  font-size: 4rem;
  color: chartreuse;
  margin-left: 300px;
  margin-top: 200px;
}
header .header-info h2 {
  font-size: 3rem;
  font-style: oblique;
  margin-top: 40px;
  margin-left: 900px;
}
header .header-buttons {
  text-align: center;
}
header .header-buttons input {
  font-size: 50px;
  border-radius: 10px;
  border: none;
  margin: 20px;
  margin-top: 60px;
  background-color: black;
  width: 300px;
  cursor: pointer;
  transition: 0.5s all;
}
header .header-buttons #prvabojadugme:hover {
  background-color: white;
  color: black;
}
header .header-buttons #drugabojadugme {
  background-color: white;
  color: black;
}
header .header-buttons #drugabojadugme:hover {
  background-color: black;
  color: white;
}

main {
  margin-top: 220px;
  width: 100%;
  background-color: rgb(77, 77, 77);
}
main #linija {
  margin: 30px;
}
main #kontant-naslov {
  text-align: center;
  font-size: 32px;
  padding: 10px;
}
main #about {
  margin-bottom: 20px;
}
main .around-main {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}
main .around-main .main {
  width: 90%;
  margin: 0 auto;
  background-color: black;
  text-align: center;
}
main .around-main .main .slika-tekst {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}
main .around-main .main .slika-tekst .aboutmetext {
  margin-left: 50px;
  margin-right: 50px;
}
main .around-main .main .slika-tekst .slika2 {
  padding-left: 20px;
  padding-bottom: 30px;
}
main .around-main .main .slika-tekst .slika2 img {
  width: 300px;
  height: 500px;
}
main #naslov-servisi {
  text-align: center;
}
main #naslov-projekat {
  text-align: center;
  padding-bottom: 30px;
}
main .projects {
  background-color: rgb(77, 77, 77);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 200px;
}
main .projects #contact {
  background-color: rgb(77, 77, 77);
  width: 50%;
}
main .projects #contact .formular {
  background-color: rgb(40, 40, 40);
  padding: 30px;
  border-radius: 20px;
}
main .projects #contact .formular #forma form .forma-dugme {
  text-align: center;
}
main .projects #contact .formular #forma form .forma-dugme #send {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  border-radius: 20px;
  opacity: 1;
  transition: 0.5s all ease-in-out;
}
main .projects #contact .formular #forma form .forma-dugme #send:hover {
  opacity: 0.7;
  background-color: transparent;
  transition: 0.5s all ease-in-out;
}
main .projects #contact .formular #forma form .forma-poruka textarea {
  border-radius: 10px;
  resize: none;
  background-color: #f9f7f7;
  color: black;
}
main .projects #contact .formular #forma form .imeprezime {
  margin: 20px;
}
main .projects #contact .formular #forma form .imeprezime #name {
  margin: 20px;
  margin-right: 200px;
}
main .projects #contact .formular #forma form .forma-mail #email {
  margin: 0 auto;
  display: grid;
}
main .projects .third .treca-slika-tekst {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-left: 250px;
}
main .projects .third .treca-slika-tekst .treci-tekst p {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: -150px;
}
main .projects .third:hover .image {
  opacity: 0.3;
}
main .projects .third:hover .treca-slika-tekst {
  opacity: 1;
}
main .projects .third img {
  width: 500px;
  height: 300px;
  border-radius: 30px;
  border: 1px solid lime;
}
main .projects .third .image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
main .projects .second img {
  width: 500px;
  height: 300px;
  border-radius: 30px;
  border: 1px solid lime;
  margin-left: -150px;
  margin-right: 30px;
}
main .projects .second:hover .image {
  opacity: 0.3;
}
main .projects .second:hover .druga-slika-tekst {
  opacity: 1;
}
main .projects .second .druga-slika-tekst .drugi-tekst p {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: -170px;
  margin-left: -170px;
}
main .projects .second .image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
main .projects .first .image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
main .projects .first img {
  width: 500px;
  height: 300px;
  border-radius: 30px;
  border: 1px solid lime;
}
main .projects .first:hover .prva-slika-tekst {
  opacity: 1;
}
main .projects .first:hover .image {
  opacity: 0.3;
}
main .projects .first .prva-slika-tekst {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
main .projects .first .prva-slika-tekst .prvi-tekst p {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: -150px;
  margin-left: 500px;
}
main .skills {
  display: flex;
  align-items: baseline;
}
main .skills .blok {
  border: 1px solid black;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
main .skills .blok i {
  font-size: 200px;
  color: black;
}

.futer {
  width: 100%;
  background-color: rgb(57, 48, 48);
  text-align: center;
}
.futer i {
  font-size: 25px;
  padding: 5px 15px;
}
.futer i:hover {
  color: gray;
}

#info {
  font-size: 30px;
}

input {
  background-color: rgb(40, 40, 40);
  color: white;
  width: 300px;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
}

input::-moz-placeholder {
  font-size: 20px;
}

input::placeholder {
  font-size: 20px;
}

textarea {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  resize: none;
  background-color: #f9f7f7;
  color: black;
}

.naslov-contact h2 {
  text-align: center;
}

.map {
  width: auto;
  padding: 0px;
}
.map .ispod-mape .telefon {
  font-size: 30px;
  text-align: center;
}
.map .prvi-blok iframe {
  width: 500px;
  height: 350px;
  display: flex;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 1460px) {
  main .skills{
    display: block;
  }
}

@media screen and (max-width: 1460px) {
  .projects{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .second{
    margin-top: 150px;
    margin-bottom: 170px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .second img{
    margin-left: 0px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .second .druga-slika-tekst .drugi-tekst p{
    margin-left: -20px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .first .image{
    display: inline-block;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .first{
    text-align: center;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .first:hover .prva-slika-tekst{
    margin-left: 150px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .third{
    margin-left: 40px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .map{
    margin-top: 50px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects .map .prvi-blok iframe{
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects{
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 1460px) {
  header .header-info h2{
    margin-left: 700px;
  }
}

@media screen and (max-width: 1460px) {
  header .header-info h1{
    margin-left: 100px;
  }
}

@media screen and (max-width: 1460px) {
  main .projects #contact .formular #forma form .imeprezime{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1460px) {
  main .projects #contact .formular #forma form .imeprezime #name{
    margin: 0;
    margin-right: 100px;
  }
}

@media screen and (max-width: 769px) {
  header{
    width: 122%;
  }
}

@media screen and (max-width: 769px) {
  .futer{
    width: 122%;
  }
}

@media screen and (max-width: 769px) {
  main{
    width: 122%;
  }
}

@media screen and (max-width: 769px) {
  header .header-info h2{
    margin-left: 500px;
  }
}

@media screen and (max-width: 769px) {
  main .projects .map .prvi-blok iframe{
    width: 450px;
    height: 300px;
  }
}

@media screen and (max-width: 426px) {
  header{
    width: 172%;
  }
}

@media screen and (max-width: 426px) {
  header .header-wrap .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 426px) {
  header .header-info h1{
    margin-top: 20px;
  }
}

@media screen and (max-width: 426px) {
  header .header-info h2{
    margin-left: 300px;
  }
}

@media screen and (max-width: 426px) {
  main{
    width: 172%;
  }
}

@media screen and (max-width: 426px) {
  .futer{
    width: 172%;
  }
}

@media screen and (max-width: 426px) {
  header .header-info h1{
    margin-top: 20px;
  }
}

@media screen and (max-width: 426px) {
  main .projects #contact .formular #forma form .imeprezime #name{
    margin-right: 0;
  }
}

@media screen and (max-width: 426px) {
  main .projects .map .prvi-blok iframe{
    width: 350px;
    height: 300px;
  }
}

@media screen and (max-width: 426px) {
  header .header-buttons input {
  font-size: 30px;
  width: 250px;
  }
}

@media screen and (max-width: 426px) {
  main .around-main .main .slika-tekst .slika2 img{
    width: auto;
    height: 650px;
  }
}

@media screen and (max-width: 375px) {
  main .projects #contact .formular #forma form .forma-mail input{
    width: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  main .projects #contact .formular #forma form .forma-dugme input{
    width: 90px;
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  main .projects #contact .formular #forma form .imeprezime {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  main .projects #contact .formular #forma form .imeprezime input{
    width: 150px;
    margin-right: 0;
    margin: 20px;
  }
}

@media screen and (max-width: 321px) {
  header{
    width: 189%;
  }
}

@media screen and (max-width: 321px) {
  header .header-wrap .container .navigacija ul{
    display: block;
  }
}

@media screen and (max-width: 321px) {
  header .header-wrap .container .navigacija ul li{
    text-align: center;
  }
}

@media screen and (max-width: 321px) {
  header .header-wrap .container .navigacija ul li a{
    font-size: 40px;
  }
}

@media screen and (max-width: 321px) {
  main{
    width: 189%;
  }
}

@media screen and (max-width: 321px) {
  .futer{
    width: 189%;
  }
}

@media screen and (max-width: 321px) {
  main .around-main .main .slika-tekst{
    flex-direction: column;
  }
}

@media screen and (max-width: 321px) {
  main .around-main .main .slika-tekst .slika2 img{
    width: 300px;
  }
}

@media screen and (max-width: 321px) {
  main .projects .map .telefon a{
    font-size: 25px;
  }
}