body{
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	background-color: #d9f6e5;
	background: url(../slike/image.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: black;
}

@font-face {
	font-family: MojFont;
	src: url('../font/fabada/Fabada-regular.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'MojFont', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: #ffffff;
}

header{
	width: 100%;
	.header-wrap{
		background-image: linear-gradient(lightgreen, yellowgreen, black);
		top: 0;
		width: 100%;
		z-index: 2;
		.container{
			display: flex;
			justify-content: space-around;
			.navigacija{
			display: flex;
			align-items: center;
			ul{
				display: flex;
				li{
					border-bottom: 5px solid;
					font-size: 25px;
					margin: 0 15px;
					text-decoration: none;
					color: greenyellow;
					list-style-type: none;
					a{
						text-decoration: none;
						&:hover{
							color:crimson;
						}
					}
				}
			}
		}
		.image-wrap{
			display: flex;
  			justify-content: space-around;
			img{
				width: 120px;
		}
	}
}
	.header-info{
		h1{
			font-size: 4rem;
			color:chartreuse;
			margin-left: 300px;
			margin-top: 200px;
		}
		h2{
			font-size: 3rem;
			font-style: oblique;
			margin-top: 40px;
			margin-left: 900px;
		}
	}
	.header-buttons{
		text-align: center;
		input{
			font-size: 50px;
			border-radius: 10px;
			border: none;
			margin: 20px;
			margin-top: 60px;
			background-color: black;
			width: 300px;
			cursor: pointer;
			transition: 0.5s all;
		}
		#prvabojadugme{
			&:hover{
				background-color: white;
				color: black;
			}
		}
		#drugabojadugme{
			background-color: white;
			color: black;
			&:hover{
				background-color: black;
				color: white;
			}
		}		
	}
}

main{
	margin-top: 220px;
	width: 100%;
	background-color: rgb(77, 77, 77);
	#linija{
		margin: 30px;
	}
	#kontant-naslov{
		text-align: center;
		font-size: 32px;
		padding: 10px;
	}
	#about{
		margin-bottom: 20px;
	}
	.around-main{
		padding-bottom: 20px;
		padding-top: 20px;
		width: 100%;
		.main{
			width: 90%;
			margin: 0 auto;
			background-color: black;
			text-align: center;
			.slika-tekst{
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				margin: 0 auto;
				align-items: center;
				.aboutmetext{
					margin-left: 50px;
					margin-right: 50px;
				}
				.slika2{
					padding-left: 20px;
					padding-bottom: 30px;
					img{
						width: 300px;
						height: 500px;
					}
				}
			}
			
		}
	}
	#naslov-servisi{
		text-align: center;
	}
	#naslov-projekat{
		text-align: center;
		padding-bottom: 30px;
	}
	.projects{
		background-color: rgb(77, 77, 77);
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 200px;
		#contact{
			background-color: rgb(77, 77, 77);
			width: 50%;
			.formular{
				background-color: rgb(40, 40, 40);
				padding: 30px;
				#forma{
					form{
						.forma-dugme{
							text-align: center;
							#send{
								cursor: pointer;
								background-color: whitesmoke;
								color: black;
								font-size: 20px;
								border-radius: 20px;
								opacity: 1;
								transition: 0.5s all ease-in-out;
								&:hover{
									opacity: 0.7;
									background-color: transparent;
									transition: 0.5s all ease-in-out;
								}
							}
						}
						.forma-poruka{
							textarea{
								border-radius: 10px;
								resize: none;
								background-color: #f9f7f7;
								color: black;
							}
						}
						.imeprezime{
							margin: 20px;
							#name{
								margin: 20px;
								margin-right: 200px;
							}	
						}
						.forma-mail{
							#email{
								margin: 0 auto;
								display: grid;
							}
						}
					}
				}
			}
		}
		.third{
			.treca-slika-tekst{
				transition: .5s ease;
				opacity: 0;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				margin-left: 250px;
				.treci-tekst{
					p{
						color: white;
						font-size: 30px;
						text-align: center;
						margin-top: -150px;
					}
				}
			}
			&:hover .image{
				opacity: 0.3;
			}
			&:hover .treca-slika-tekst{
				opacity: 1;
			}
			img{
				width: 500px;
				height: 300px;
				border-radius: 30px;
				border: 1px solid lime;
			}
			.image{
				opacity: 1;
				display: block;
				height: auto;
				transition: .5s ease;
				backface-visibility: hidden;
			}
		}
		.second{
			img{
				width: 500px;
				height: 300px;
				border-radius: 30px;
				border: 1px solid lime;
				margin-left: -150px;
				margin-right: 30px;
			}
			&:hover .image{
				opacity: 0.3;
			}
			&:hover .druga-slika-tekst{
				opacity: 1;
			}
			.druga-slika-tekst{
				.drugi-tekst{ 
					p{
					color: white;
					font-size: 30px;
					text-align: center;
					margin-top: -170px;
					margin-left: -170px;
					}
				}	
			}
			.image{
				opacity: 1;
				display: block;
				height: auto;
				transition: .5s ease;
				backface-visibility: hidden;
			}
		}
		.first{
			.image{
				opacity: 1;
				display: block;
				height: auto;
				transition: .5s ease;
				backface-visibility: hidden;
			}
			img{
				width: 500px;
				height: 300px;
				border-radius: 30px;
				border: 1px solid lime;
			}
			&:hover .prva-slika-tekst{
				opacity: 1;
			}
			&:hover .image{
				opacity: 0.3;
			}
			.prva-slika-tekst{
				transition: .5s ease;
				opacity: 0;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				.prvi-tekst{
					p{
					color: white;
					font-size: 30px;
					text-align: center;
					margin-top: -150px;
					margin-left: 500px;
					}
				}
			}	
		}
	}
	.skills{
		display: flex;
		align-items: baseline;
		.blok{
			border: 1px solid black;
			border-radius: 40px;
			text-align: center;
			padding: 10px;
			margin: 10px;
			i{
				font-size: 200px;
				color: black;
			}
		}
	}
}

footer{
	.futer{
		width: 100%;
		background-color: rgb(57, 48, 48);
		text-align: center;
		i{
			font-size: 25px;
			padding: 5px 15px;
			&:hover{
				color: gray;
			  }
		  }
	} 
}

#info{
	font-size: 30px;
}

input{
	background-color: rgb(40, 40, 40);
	color: white;
	width: 300px;
	border-top: none;
	border-right: none;
	border-left: none;
	text-align: center;
}

input::placeholder{
	font-size: 20px;
}

textarea{
	padding: 20px;
	width: 100%;
	border-radius: 10px;
	resize: none;
	background-color: #f9f7f7;
	color: black;
}

.naslov-contact h2{
	text-align: center;
}
  
.map{
	width: auto;
	padding: 0px;
	.ispod-mape{
		.telefon{
			font-size: 30px;
			text-align: center;
		  }
	}
	.prvi-blok{
		iframe{
			width: 500px;
			height: 350px;
			display: flex;
			margin: 0 auto;
		}
	}
}
}
/***********************************1440****************************/
@media screen and (max-width: 1440px) {
	header {
		margin-bottom: 50px;
	}
	header .header-wrap{
		width: 100%;
	}
	header .header-wrap .container {
		flex-direction: column;
	}
	header .header-wrap .container .image-wrap {
		text-align: center;
	}
	header .header-wrap .container .navigacija ul {
		margin: 0 auto 20px auto;
	}
	header .header-wrap .container .navigacija ul li {
		font-size: 25px;
    	margin: 0px 30px;
	}
	header .header-info{
		width: 100%;
		text-align: center;
	}
	header .header-info h1{
		font-size: 40px;
		margin-left: 0px;
		width: 50%;
    	margin: 0 auto;
    	text-align: center;
		padding: 20px 0px;
	}
	header .header-info h2{
		margin-left: 0px;
		text-align: center;
		font-size: 20px;
	}
	header .header-buttons input {
		font-size: 15px;
		width: 20%;
	}
	header .header-buttons #prvabojadugme {
		margin: 100px 0px 0px 0px;
	}
	header .header-buttons #drugabojadugme {
		margin: 20px 0px 0px 0px;
	}
	
	
/** O MENI **/
	
	
	main {
		margin-top: 0px;
	}
	main .around-main .main {
		margin-top: 0px;
	}
	main .around-main .main .slika-tekst {
		flex-direction: column;
		padding-top: 50px;
		margin-top: 0px;
		width: 75%;
		padding-bottom: 50px;
	}
	main .around-main .main .slika-tekst .aboutmehide h1{
		display: block;
	}
	main .around-main .main .slika-tekst .aboutmetext {
		margin: 0px;
	}
	main .around-main .main .slika-tekst .aboutmetext h1{
		display: none;
	}
	main .around-main .main .slika-tekst .aboutmetext p{
		margin-top: 30px;
		font-size: 18px;
	}
	#info {
		font-size: 20px;
	}
	main .around-main .main .slika-tekst .aboutmetext p .novi-red{
		display: block;
	}
	
	
/** SERVISI **/
	
	
	main #naslov-servisi {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	main .skills {
		margin-top: 20px;
		display: flex;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	main .skills .blok{
		width: 80%;
		margin: 20px 10px;
	}
	main .skills .blok i {
		font-size: 150px;
	}
	
	
/** PROJEKTI **/
	
	
	main #naslov-projekat {
		padding-top: 30px;
	}
	main .projects{
		padding-bottom: 30px;
		width: 100%;
		padding: 0px 20px 30px 20px;
	}
	main .projects .first{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .first img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .first .prva-slika-tekst .prvi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .first .prva-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -700%);
		-ms-transform: translate(0%, -700%);
		margin-left: 0px;
	}
	main .projects .second{
		width: 80%;
		margin: 0 auto;
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
	}
	main .projects .second img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .second .druga-slika-tekst .drugi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .second .druga-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -700%);
		-ms-transform: translate(0%, -700%);
		margin-left: 0px;
	}
	main .projects .third{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .third img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .third .treca-slika-tekst .treci-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .third .treca-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -700%);
		-ms-transform: translate(0%, -700%);
		margin-left: 0px;
	}
	
	
/** KONTAKT **/
	
	
	main .projects #contact .formular #forma form .forma-mail input{
		width: auto;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme input{
		width: 20px;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme #send{
		width: 150px;
	}
	main .kontakt #contact .formular #forma form .imeprezime {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}
	main .kontakt #contact .formular #forma form .forma-poruka textarea {
		width: 80%;
	}
	main .kontakt #contact .formular #forma form input{
		width: 50%;
		padding: 10px 0px;
	}
	main .kontakt #contact .formular #forma form .imeprezime #name{
		margin: 0px;
	}
	main .kontakt {
		flex-direction: column;
		padding-bottom: 30px;
	}
	main #kontant-naslov {
		margin: 30px 0px 10px 0px;
	}
	main .kontakt #contact {
		margin: 0 auto;
		width: 80%;
		padding-bottom: 30px;
	}
	main .kontakt #contact .formular{
		padding: 10px 0px 30px 0px;
	}
	main .kontakt #contact .formular #forma {
		text-align: center;
	}
	.map .prvi-blok iframe {
		width: 80%;
		height: 300px;
		display: flex;
		margin: 0 auto;
		border-radius: 10px;
	}
	main .kontakt .map .ispod-mape .telefon {
		font-size: 15px;
		text-align: center;
		margin-top: 10px;
	}


/** FUTER **/


	.futer i {
		font-size: 15px;
		padding: 5px 15px;
		margin-top: 10px;
	}
	.futer p {
		font-size: 10px;
		font-weight: bolder;
	}
}

/***********************************1024****************************/
@media screen and (max-width: 1024px) {
	header {
		margin-bottom: 50px;
	}
	header .header-wrap{
		width: 100%;
	}
	header .header-wrap .container {
		flex-direction: column;
	}
	header .header-wrap .container .image-wrap {
		text-align: center;
	}
	header .header-wrap .container .navigacija ul {
		margin: 0 auto 20px auto;
	}
	header .header-wrap .container .navigacija ul li {
		font-size: 25px;
    margin: 0px 30px;
	}
	header .header-info{
		width: 100%;
		text-align: center;
	}
	header .header-info h1{
		font-size: 40px;
		margin-left: 0px;
		width: 80%;
    	margin: 0 auto;
    	text-align: center;
		padding: 20px 0px;
	}
	header .header-info h2{
		margin-left: 0px;
		text-align: center;
		font-size: 20px;
	}
	header .header-buttons input {
		font-size: 15px;
		width: 50%;
	}
	header .header-buttons #prvabojadugme {
		margin: 100px 0px 0px 0px;
	}
	header .header-buttons #drugabojadugme {
		margin: 20px 0px 0px 0px;
	}
	
	
/** O MENI **/
	
	
	main {
		margin-top: 0px;
	}
	main .around-main .main {
		margin-top: 0px;
	}
	main .around-main .main .slika-tekst {
		flex-direction: column;
		padding-top: 50px;
		margin-top: 0px;
		width: 75%;
		padding-bottom: 50px;
	}
	main .around-main .main .slika-tekst .aboutmehide h1{
		display: block;
	}
	main .around-main .main .slika-tekst .aboutmetext {
		margin: 0px;
	}
	main .around-main .main .slika-tekst .aboutmetext h1{
		display: none;
	}
	main .around-main .main .slika-tekst .aboutmetext p{
		margin-top: 30px;
		font-size: 18px;
	}
	#info {
		font-size: 20px;
	}
	main .around-main .main .slika-tekst .aboutmetext p .novi-red{
		display: block;
	}
	
	
/** SERVISI **/
	
	
	main #naslov-servisi {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	main .skills {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	main .skills .blok{
		width: 80%;
		margin: 20px auto;
	}
	main .skills .blok i {
		font-size: 150px;
	}
	
	
/** PROJEKTI **/
	
	
	main #naslov-projekat {
		padding-top: 30px;
	}
	main .projects{
		padding-bottom: 30px;
		flex-direction: column;
		width: 100%;
	}
	main .projects .first{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .first img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .first .prva-slika-tekst .prvi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .first .prva-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -1300%);
		-ms-transform: translate(0%, -1300%);
		margin-left: 0px;
	}
	main .projects .second{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .second img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .second .druga-slika-tekst .drugi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .second .druga-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -1300%);
		-ms-transform: translate(0%, -1300%);
		margin-left: 0px;
	}
	main .projects .third{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .third img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .third .treca-slika-tekst .treci-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .third .treca-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -1300%);
		-ms-transform: translate(0%, -1300%);
		margin-left: 0px;
	}
	
	
/** KONTAKT **/
	
	
	main .projects #contact .formular #forma form .forma-mail input{
		width: auto;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme input{
		width: 20px;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme #send{
		width: 150px;
	}
	main .kontakt #contact .formular #forma form .imeprezime {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}
	main .kontakt #contact .formular #forma form .forma-poruka textarea {
		width: 80%;
	}
	main .kontakt #contact .formular #forma form input{
		width: 50%;
		padding: 10px 0px;
	}
	main .kontakt #contact .formular #forma form .imeprezime #name{
		margin: 0px;
	}
	main .kontakt {
		flex-direction: column;
		padding-bottom: 30px;
	}
	main #kontant-naslov {
		margin: 30px 0px 10px 0px;
	}
	main .kontakt #contact {
		margin: 0 auto;
		width: 80%;
		padding-bottom: 30px;
	}
	main .kontakt #contact .formular{
		padding: 10px 0px 30px 0px;
	}
	main .kontakt #contact .formular #forma {
		text-align: center;
	}
	.map .prvi-blok iframe {
		width: 80%;
		height: 300px;
		display: flex;
		margin: 0 auto;
		border-radius: 10px;
	}
	main .kontakt .map .ispod-mape .telefon {
		font-size: 15px;
		text-align: center;
		margin-top: 10px;
	}


/** FUTER **/


	.futer i {
		font-size: 15px;
		padding: 5px 15px;
		margin-top: 10px;
	}
	.futer p {
		font-size: 10px;
		font-weight: bolder;
	}
}

/***********************************768****************************/
@media screen and (max-width: 768px) {
	header {
		margin-bottom: 50px;
	}
	header .header-wrap{
		width: 100%;
	}
	header .header-wrap .container {
		flex-direction: column;
	}
	header .header-wrap .container .image-wrap {
		text-align: center;
	}
	header .header-wrap .container .navigacija ul {
		margin: 0 auto 20px auto;
	}
	header .header-wrap .container .navigacija ul li {
		font-size: 25px;
    	margin: 0px 20px;
	}
	header .header-info{
		width: 100%;
		text-align: center;
	}
	header .header-info h1{
		font-size: 40px;
		margin-left: 0px;
		width: 80%;
    	margin: 0 auto;
    	text-align: center;
		padding: 20px 0px;
	}
	header .header-info h2{
		margin-left: 0px;
		text-align: center;
		font-size: 20px;
	}
	header .header-buttons input {
		font-size: 15px;
		width: 30%;
	}
	header .header-buttons #prvabojadugme {
		margin: 100px 0px 0px 0px;
	}
	header .header-buttons #drugabojadugme {
		margin: 20px 0px 0px 0px;
	}
	
	
/** O MENI **/
	
	
	main {
		margin-top: 0px;
	}
	main .around-main .main {
		margin-top: 0px;
	}
	main .around-main .main .slika-tekst {
		flex-direction: column;
		padding-top: 50px;
		margin-top: 0px;
		width: 75%;
		padding-bottom: 50px;
	}
	main .around-main .main .slika-tekst .aboutmehide h1{
		display: block;
	}
	main .around-main .main .slika-tekst .aboutmetext {
		margin: 0px;
	}
	main .around-main .main .slika-tekst .aboutmetext h1{
		display: none;
	}
	main .around-main .main .slika-tekst .aboutmetext p{
		margin-top: 30px;
		font-size: 18px;
	}
	#info {
		font-size: 20px;
	}
	main .around-main .main .slika-tekst .aboutmetext p .novi-red{
		display: block;
	}
	
	
/** SERVISI **/
	
	
	main #naslov-servisi {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	main .skills {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	main .skills .blok{
		width: 80%;
		margin: 20px auto;
	}
	main .skills .blok i {
		font-size: 150px;
	}
	
	
/** PROJEKTI **/
	
	
	main #naslov-projekat {
		padding-top: 30px;
	}
	main .projects{
		padding-bottom: 30px;
		flex-direction: column;
		width: 100%;
	}
	main .projects .first{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .first img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .first .prva-slika-tekst .prvi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .first .prva-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -900%);
		-ms-transform: translate(0%, -900%);
		margin-left: 0px;
	}
	main .projects .second{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .second img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .second .druga-slika-tekst .drugi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .second .druga-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -900%);
		-ms-transform: translate(0%, -900%);
		margin-left: 0px;
	}
	main .projects .third{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .third img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .third .treca-slika-tekst .treci-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .third .treca-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -900%);
		-ms-transform: translate(0%, -900%);
		margin-left: 0px;
	}
	
	
/** KONTAKT **/
	
	
	main .projects #contact .formular #forma form .forma-mail input{
		width: auto;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme input{
		width: 20px;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme #send{
		width: 150px;
	}
	main .kontakt #contact .formular #forma form .imeprezime {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}
	main .kontakt #contact .formular #forma form .forma-poruka textarea {
		width: 80%;
	}
	main .kontakt #contact .formular #forma form input{
		width: 50%;
		padding: 10px 0px;
	}
	main .kontakt #contact .formular #forma form .imeprezime #name{
		margin: 0px;
	}
	main .kontakt {
		flex-direction: column;
		padding-bottom: 30px;
	}
	main #kontant-naslov {
		margin: 30px 0px 10px 0px;
	}
	main .kontakt #contact {
		margin: 0 auto;
		width: 80%;
		padding-bottom: 30px;
	}
	main .kontakt #contact .formular{
		padding: 10px 0px 30px 0px;
	}
	main .kontakt #contact .formular #forma {
		text-align: center;
	}
	.map .prvi-blok iframe {
		width: 80%;
		height: 300px;
		display: flex;
		margin: 0 auto;
		border-radius: 10px;
	}
	main .kontakt .map .ispod-mape .telefon {
		font-size: 15px;
		text-align: center;
		margin-top: 10px;
	}


/** FUTER **/


	.futer i {
		font-size: 15px;
		padding: 5px 15px;
		margin-top: 10px;
	}
	.futer p {
		font-size: 10px;
		font-weight: bolder;
	}
}

/***********************************425****************************/
@media screen and (max-width: 425px) {
	header {
		margin-bottom: 50px;
	}
	header .header-wrap{
		width: 100%;
	}
	header .header-wrap .container {
		flex-direction: column;
	}
	header .header-wrap .container .image-wrap {
		text-align: center;
	}
	header .header-wrap .container .navigacija ul {
		margin: 0 auto 20px auto;
	}
	header .header-wrap .container .navigacija ul li {
		font-size: 15px;
    margin: 0px 10px;
	}
	header .header-info{
		width: 100%;
		text-align: center;
	}
	header .header-info h1{
		font-size: 40px;
		margin-left: 0px;
		width: 80%;
    	margin: 0 auto;
    	text-align: center;
		padding: 20px 0px;
	}
	header .header-info h2{
		margin-left: 0px;
		text-align: center;
		font-size: 20px;
	}
	header .header-buttons input {
		font-size: 15px;
		width: 50%;
	}
	header .header-buttons #prvabojadugme {
		margin: 100px 0px 0px 0px;
	}
	header .header-buttons #drugabojadugme {
		margin: 20px 0px 0px 0px;
	}
	
	
/** O MENI **/
	
	
	main {
		margin-top: 0px;
	}
	main .around-main .main {
		margin-top: 0px;
	}
	main .around-main .main .slika-tekst {
		flex-direction: column;
		padding-top: 50px;
		margin-top: 0px;
		width: 75%;
		padding-bottom: 50px;
	}
	main .around-main .main .slika-tekst .aboutmehide h1{
		display: block;
	}
	main .around-main .main .slika-tekst .aboutmetext {
		margin: 0px;
	}
	main .around-main .main .slika-tekst .aboutmetext h1{
		display: none;
	}
	main .around-main .main .slika-tekst .aboutmetext p{
		margin-top: 30px;
		font-size: 18px;
	}
	#info {
		font-size: 20px;
	}
	main .around-main .main .slika-tekst .aboutmetext p .novi-red{
		display: block;
	}
	
	
/** SERVISI **/
	
	
	main #naslov-servisi {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	main .skills {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	main .skills .blok{
		width: 80%;
		margin: 20px auto;
	}
	main .skills .blok i {
		font-size: 150px;
	}
	
	
/** PROJEKTI **/
	
	
	main #naslov-projekat {
		padding-top: 30px;
	}
	main .projects{
		padding-bottom: 30px;
		flex-direction: column;
		width: 100%;
	}
	main .projects .first{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .first img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .first .prva-slika-tekst .prvi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .first .prva-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -500%);
		-ms-transform: translate(0%, -500%);
		margin-left: 0px;
	}
	main .projects .second{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .second img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .second .druga-slika-tekst .drugi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .second .druga-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -500%);
		-ms-transform: translate(0%, -500%);
		margin-left: 0px;
	}
	main .projects .third{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .third img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .third .treca-slika-tekst .treci-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .third .treca-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -500%);
		-ms-transform: translate(0%, -500%);
		margin-left: 0px;
	}
	
	
/** KONTAKT **/
	
	
	main .projects #contact .formular #forma form .forma-mail input{
		width: auto;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme input{
		width: 20px;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme #send{
		width: 150px;
	}
	main .kontakt #contact .formular #forma form .imeprezime {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}
	main .kontakt #contact .formular #forma form .forma-poruka textarea {
		width: 80%;
	}
	main .kontakt #contact .formular #forma form input{
		width: 50%;
		padding: 10px 0px;
	}
	main .kontakt #contact .formular #forma form .imeprezime #name{
		margin: 0px;
	}
	main .kontakt {
		flex-direction: column;
		padding-bottom: 30px;
	}
	main #kontant-naslov {
		margin: 30px 0px 10px 0px;
	}
	main .kontakt #contact {
		margin: 0 auto;
		width: 80%;
		padding-bottom: 30px;
	}
	main .kontakt #contact .formular{
		padding: 10px 0px 30px 0px;
	}
	main .kontakt #contact .formular #forma {
		text-align: center;
	}
	.map .prvi-blok iframe {
		width: 80%;
		height: 300px;
		display: flex;
		margin: 0 auto;
		border-radius: 10px;
	}
	main .kontakt .map .ispod-mape .telefon {
		font-size: 15px;
		text-align: center;
		margin-top: 10px;
	}


/** FUTER **/


	.futer i {
		font-size: 15px;
		padding: 5px 15px;
		margin-top: 10px;
	}
	.futer p {
		font-size: 10px;
		font-weight: bolder;
	}
}

/***********************************375****************************/
@media screen and (max-width: 375px) {
	header {
		margin-bottom: 50px;
	}
	header .header-wrap{
		width: 100%;
	}
	header .header-wrap .container {
		flex-direction: column;
	}
	header .header-wrap .container .image-wrap {
		text-align: center;
	}
	header .header-wrap .container .navigacija ul {
		margin: 0 auto 20px auto;
	}
	header .header-wrap .container .navigacija ul li {
		font-size: 15px;
    margin: 0px 5px;
	}
	header .header-info{
		width: 100%;
		text-align: center;
	}
	header .header-info h1{
		font-size: 40px;
		margin-left: 0px;
		width: 80%;
    	margin: 0 auto;
    	text-align: center;
		padding: 20px 0px;
	}
	header .header-info h2{
		margin-left: 0px;
		text-align: center;
		font-size: 20px;
	}
	header .header-buttons input {
		font-size: 15px;
		width: 50%;
	}
	header .header-buttons #prvabojadugme {
		margin: 100px 0px 0px 0px;
	}
	header .header-buttons #drugabojadugme {
		margin: 20px 0px 0px 0px;
	}
	
	
/** O MENI **/
	
	
	main {
		margin-top: 0px;
	}
	main .around-main .main {
		margin-top: 0px;
	}
	main .around-main .main .slika-tekst {
		flex-direction: column;
		padding-top: 50px;
		margin-top: 0px;
		width: 75%;
		padding-bottom: 50px;
	}
	main .around-main .main .slika-tekst .aboutmehide h1{
		display: block;
	}
	main .around-main .main .slika-tekst .aboutmetext {
		margin: 0px;
	}
	main .around-main .main .slika-tekst .aboutmetext h1{
		display: none;
	}
	main .around-main .main .slika-tekst .aboutmetext p{
		margin-top: 30px;
		font-size: 18px;
	}
	#info {
		font-size: 20px;
	}
	main .around-main .main .slika-tekst .aboutmetext p .novi-red{
		display: block;
	}
	
	
/** SERVISI **/
	
	
	main #naslov-servisi {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	main .skills {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	main .skills .blok{
		width: 80%;
		margin: 20px auto;
	}
	main .skills .blok i {
		font-size: 150px;
	}
	
	
/** PROJEKTI **/
	
	
	main #naslov-projekat {
		padding-top: 30px;
	}
	main .projects{
		padding-bottom: 30px;
		flex-direction: column;
		width: 100%;
	}
	main .projects .first{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .first img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .first .prva-slika-tekst .prvi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .first .prva-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -450%);
		-ms-transform: translate(0%, -450%);
		margin-left: 0px;
	}
	main .projects .second{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .second img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .second .druga-slika-tekst .drugi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .second .druga-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -450%);
		-ms-transform: translate(0%, -450%);
		margin-left: 0px;
	}
	main .projects .third{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .third img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .third .treca-slika-tekst .treci-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .third .treca-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -450%);
		-ms-transform: translate(0%, -450%);
		margin-left: 0px;
	}
	
	
/** KONTAKT **/
	
	
	main .projects #contact .formular #forma form .forma-mail input{
		width: auto;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme input{
		width: 20px;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme #send{
		width: 150px;
	}
	main .kontakt #contact .formular #forma form .imeprezime {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}
	main .kontakt #contact .formular #forma form .forma-poruka textarea {
		width: 80%;
	}
	main .kontakt #contact .formular #forma form input{
		width: 50%;
		padding: 10px 0px;
	}
	main .kontakt #contact .formular #forma form .imeprezime #name{
		margin: 0px;
	}
	main .kontakt {
		flex-direction: column;
		padding-bottom: 30px;
	}
	main #kontant-naslov {
		margin: 30px 0px 10px 0px;
	}
	main .kontakt #contact {
		margin: 0 auto;
		width: 80%;
		padding-bottom: 30px;
	}
	main .kontakt #contact .formular{
		padding: 10px 0px 30px 0px;
	}
	main .kontakt #contact .formular #forma {
		text-align: center;
	}
	.map .prvi-blok iframe {
		width: 80%;
		height: 300px;
		display: flex;
		margin: 0 auto;
		border-radius: 10px;
	}
	main .kontakt .map .ispod-mape .telefon {
		font-size: 15px;
		text-align: center;
		margin-top: 10px;
	}


/** FUTER **/


	.futer i {
		font-size: 15px;
		padding: 5px 15px;
		margin-top: 10px;
	}
	.futer p {
		font-size: 10px;
		font-weight: bolder;
	}
}
/***********************************320****************************/
@media screen and (max-width: 320px) {
	header {
		margin-bottom: 50px;
	}
	header .header-wrap{
		width: 100%;
	}
	header .header-wrap .container {
		flex-direction: column;
	}
	header .header-wrap .container .image-wrap {
		text-align: center;
	}
	header .header-wrap .container .navigacija ul {
		margin: 0 auto 20px auto;
    	flex-direction: column;
		text-align: center;
	}
	header .header-wrap .container .navigacija ul li {
		font-size: 25px;
    margin: 0px 5px;
	}
	header .header-info{
		width: 100%;
		text-align: center;
	}
	header .header-info h1{
		font-size: 40px;
		margin-left: 0px;
		width: 80%;
    	margin: 0 auto;
    	text-align: center;
		padding: 20px 0px;
	}
	header .header-info h2{
		margin-left: 0px;
		text-align: center;
		font-size: 20px;
	}
	header .header-buttons input {
		font-size: 15px;
		width: 50%;
	}
	header .header-buttons #prvabojadugme {
		margin: 100px 0px 0px 0px;
	}
	header .header-buttons #drugabojadugme {
		margin: 20px 0px 0px 0px;
	}
	
	
/** O MENI **/
	
	
	main {
		margin-top: 0px;
	}
	main .around-main .main {
		margin-top: 0px;
	}
	main .around-main .main .slika-tekst {
		flex-direction: column;
		padding-top: 50px;
		margin-top: 0px;
		width: 75%;
		padding-bottom: 50px;
	}
  main .around-main .main .slika-tekst .slika2 img{
    width: auto;
  }
	main .around-main .main .slika-tekst .aboutmehide h1{
		display: block;
	}
	main .around-main .main .slika-tekst .aboutmetext {
		margin: 0px;
	}
	main .around-main .main .slika-tekst .aboutmetext h1{
		display: none;
	}
	main .around-main .main .slika-tekst .aboutmetext p{
		margin-top: 30px;
		font-size: 18px;
	}
	#info {
		font-size: 20px;
	}
	main .around-main .main .slika-tekst .aboutmetext p .novi-red{
		display: block;
	}
	
	
/** SERVISI **/
	
	
	main #naslov-servisi {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	main .skills {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	main .skills .blok{
		width: 80%;
		margin: 20px auto;
	}
	main .skills .blok i {
		font-size: 150px;
	}
	
	
/** PROJEKTI **/
	
	
	main #naslov-projekat {
		padding-top: 30px;
	}
	main .projects{
		padding-bottom: 30px;
		flex-direction: column;
		width: 100%;
	}
	main .projects .first{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .first img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .first .prva-slika-tekst .prvi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .first .prva-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -450%);
		-ms-transform: translate(0%, -450%);
		margin-left: 0px;
	}
	main .projects .second{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .second img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .second .druga-slika-tekst .drugi-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .second .druga-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -450%);
		-ms-transform: translate(0%, -450%);
		margin-left: 0px;
	}
	main .projects .third{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	main .projects .third img {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}
	main .projects .third .treca-slika-tekst .treci-tekst p {
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	main .projects .third .treca-slika-tekst {
		transition: 0.5s ease;
		opacity: 0;
		transform: translate(0%, -450%);
		-ms-transform: translate(0%, -450%);
		margin-left: 0px;
	}
	
	
/** KONTAKT **/
	
	
	main .projects #contact .formular #forma form .forma-mail input{
		width: auto;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme input{
		width: 20px;
		margin-right: 0;
	}
	main .kontakt #contact .formular #forma form .forma-dugme #send{
		width: 150px;
	}
	main .kontakt #contact .formular #forma form .imeprezime {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}
	main .kontakt #contact .formular #forma form .forma-poruka textarea {
		width: 80%;
	}
	main .kontakt #contact .formular #forma form input{
		width: 50%;
		padding: 10px 0px;
	}
	main .kontakt #contact .formular #forma form .imeprezime #name{
		margin: 0px;
	}
	main .kontakt {
		flex-direction: column;
		padding-bottom: 30px;
	}
	main #kontant-naslov {
		margin: 30px 0px 10px 0px;
	}
	main .kontakt #contact {
		margin: 0 auto;
		width: 80%;
		padding-bottom: 30px;
	}
	main .kontakt #contact .formular{
		padding: 10px 0px 30px 0px;
	}
	main .kontakt #contact .formular #forma {
		text-align: center;
	}
	.map .prvi-blok iframe {
		width: 80%;
		height: 300px;
		display: flex;
		margin: 0 auto;
		border-radius: 10px;
	}
	main .kontakt .map .ispod-mape .telefon {
		font-size: 15px;
		text-align: center;
		margin-top: 10px;
	}


/** FUTER **/


	.futer i {
		font-size: 15px;
		padding: 5px 15px;
		margin-top: 10px;
	}
	.futer p {
		font-size: 10px;
		font-weight: bolder;
	}
}